# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
venv/
.env/

# SQLite database (uncomment if you decide NOT to commit the DB)
# *.db

